header {
    background-color: rgba(0, 140, 186, 0.5);
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
    position: relative;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 15px;
    font-size: 25px;
}

header h2 {
    margin: 0px;
    font-size: 25px;
    text-align: center;
}


header a {
    margin-right: auto;
}

header a img {
    max-width: 80px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
}

img {
    border-radius: 14px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    width: 140px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

label {
    display: block;
    margin-top: 20px;
    font-family: sans-serif;
}



body, h1, h2, h3, p, div {
    margin: 0;
    padding: 0;
	text-align: center;
}

footer {
    margin-top: 200px;
    position: relative;
    padding: 4px;
    background-color: #333;
    color: white;
    text-align: center;
    border: solid;
}

h1 {
    color: #0056b3;
}
h2 {
    color: #0056b3;
    font-size: 20px;
    padding: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form[name="tipoRegistro"] select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333; 
    background-color: #fff;
    width: 120px; 
    margin: 8px 0;
    display: inline-block;
    transition: border 0.3s, box-shadow 0.3s;
}

form[name="tipoRegistro"] select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    transition-duration: 0.4s;
}

form {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 5px; 
}


input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

nav a:hover {
    background-color: #ccc;
}
form p {
    display: flex;
    align-items: center;
}


input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    margin-top: 5px; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* menu desplegable */
#usuario-dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -5px;
}

#usuario-dropdown:hover #dropdown-content {
    display: block;
}

#dropdown-content form {
    display: block;
    padding: 10px;
}

#dropdown-content form input {
    display: block;
    margin-bottom: 5px;
}

input[type='submit'] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type='submit']:hover {
    background-color: #0056b3;
}
