/* Estilo para el contenedor */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Estilos para cada columna dentro del contenedor */
.column {
    flex: 1;  
    margin: 10px;  
    padding: 10px;  
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  
}


form {
    flex-direction: column;  /* elementos del formulario verticalmente */
}
